<%- include('partials/header'); -%>

<header>
  <h2>Your Guide to Personal Financial Management</h2>
</header>
<ul>
  <h2>Welcome to your ultimate tool for tracking and improving your financial health. Our finance tracker is designed to help you monitor your spending, save more money, and achieve your financial goals. This page provides essential financial advice and tips to get you started.</h2>
  <br>
</ul>

<%- include('partials/footer'); -%>