<%- include('partials/header'); -%>

<form>
    <h2>Sign up</h2>  <!-- form -->
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <label for="name">Name</label>
    <input type="name" name="name" required />
    <div class="name error"></div>
    <button class="btn">Sign up</button>
</form>
<script>
    const form = document.querySelector('form'); //grab the form
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      //reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
  
      // get values
      const email = form.email.value;
      const password = form.password.value;
      const name = form.name.value;
      
      try { // try to send the data to the server using post request
        const res = await fetch('/signup', { 
          method: 'POST', 
          body: JSON.stringify({ email, password, name }), //send the data as a json object
          headers: {'Content-Type': 'application/json'} //specify the type of data
        });
        const data = await res.json(); //get the response from the server
        if (data.errors){
            emailError.textContent = data.errors.email; //display the error message
            passwordError.textContent = data.errors.password; //display the error message
        }
        if (data.user) {
            location.assign('/profile');
        }
      }
      catch (err) {
        console.log(err); //log the error
      }
    });
</script>
<%- include('partials/footer'); -%>